<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= form_with model: @position do |f| %>
        <div class="form-group">
          <%= f.label :name, class: 'text-white' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <%= f.submit "登録", class: 'btn-block btn-black' %>
      <% end %>
    </div>
  </div>
</div>
